.pulchageView {
  width: 360px;
  height: 568px;
  background-color: yellow;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
}

/* 제품 정보 */
.productImg {
  box-sizing: border-box;
  border: 1px solid #dee0e3;
  width: 100%;
}

.productname {
  /* Heading / 100 */
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  /* height: 46px; */
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
  margin: 0;
}

.productPrice {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.productPrice__discountRate {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;

  letter-spacing: -0.005em;

  color: #6b90dc;
}

.productPrice__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;
}

.productPrice__price__before {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;

  letter-spacing: -0.005em;
  text-decoration-line: line-through;

  color: #999999;
}

.productPrice__price__after {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;

  letter-spacing: -0.005em;

  color: #333333;
}

/* 택배 정보 */

.deliveryInfo {
  display: flex;
  flex-direction: column;
}

.deliveryInfo__delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
  margin-bottom: 6px;
}

.deliveryInfo__delivery__shipping {
  /* 택배배송 */

  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #333333;
  margin-right: 2px;
}

.deliveryInfo__delivery__priceInfo {
  /* 택배가격 */
}

.deliveryInfo__delivery__priceInfo__price {
  /* 3,000원 */

  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #333333;
}

.deliveryInfo__delivery__priceInfo__payment {
  /* (주문시 결제) */

  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  color: #6b90dc;
}

.deliveryInfo__method {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  letter-spacing: -0.005em;

  /* color-gray/300 */

  color: #999999;
  margin: 0;
}
